
body {
  background-color: #344362;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.4em;
}

h1 {
  color: #ffffff;
  font-size: 3em;
  margin-left: 2%;
}

h2 {
  color: #ffffff;
  font-size: 2em;
  margin-left: 2%;
  font-weight: normal;
}

a, a:active, a:visited, a:hover {
  color: #ffffff;
  text-decoration: none;
}

h3, h4, h5, h6 {
  color: #344362;
  margin-top: 2em;
  border-bottom: 2px #344362 solid;
}

div#content {
  background-color: #ffffff;
  color: #000000;
  border-top: 5px #4e5d7c  solid;  
  border-bottom: 7px #4e5d7c  solid;
  padding: 2em;
  margin-bottom: 3em;
}

div#content a, div#content a:active, div#content a:visited {
  color: #344362;
  text-decoration: none;
}

div#content a:hover {
  color: #4e5d7c;
}

img {
  border: 0;
}

.accessibility {
  display: none;
}

p#footer {
  font-size: 0.8em;
  color: #dddddd;
  margin-top: 4em;
  text-align: right;
}

