/* $Id: content.css,v 1.12.2.3 2008/08/22 22:10:57 yched Exp $ */

/* Node display */
.field .field-label,
.field .field-label-inline,
.field .field-label-inline-first {
  font-weight:bold;
}
.field .field-label-inline,
.field .field-label-inline-first {
  display:inline;
}
.field .field-label-inline {
  visibility:hidden;
}

/* Node form display */
.node-form .content-multiple-table td.content-multiple-drag {
  width:30px;
  padding-right:0;
}
.node-form .content-multiple-table td.content-multiple-drag a.tabledrag-handle{
  padding-right:.5em;
}

.node-form .content-add-more .form-submit{
  margin:0;
}

.node-form .number {
  display:inline;
  width:auto;
}
.node-form .text {
  width:auto;
}

/* CSS overrides for Views-based autocomplete results.
  - #autocomplete uses "white-space:pre", which is no good with
    Views' template-based rendering
  - Field titles are rendered with <label> in default templates,
    but we don't want the 'form' styling it gets under .form-item
*/
.form-item #autocomplete .reference-autocomplete {
  white-space:normal;
}

.form-item #autocomplete .reference-autocomplete label {
  display:inline;
  font-weight:normal;
}

/* 'Manage fields' overview */
table.content-field-overview, table.content-field-overview fieldset table {
  width:100%;
}
table.content-field-overview td {
  width:14%;
}
.content-field-overview-empty {
  text-align:center;
}


