/* $Id:  $ */

h2.neologism {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 2em;
}

div#atglance {
  border: 2px dotted;
  padding: 0.8em;
}

div#atglance > p {
  margin: 0;
  padding: 0;
}

div.linkontop {
  float: right; 
  margin: 0;
}
.neologism_terms_links {
  font-size: 0.8em;
}

img#legend {
  float: right;
  margin: 3em 2em 2em auto;
}

#add_terms_link a {
  padding-right : 4px;
}